name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    # Publish semver tags as releases.
    tags: [ '202*-*-*' ]
  pull_request:
    branches: [ "main" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read

jobs:
  build:
    permissions:
      id-token: write
      packages: write
      contents: write
      attestations: write
      artifact-metadata: write
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    uses: Harvester57/reusable-workflows/.github/workflows/docker-reusable-build.yml@main
